extends nav
  
block about
  svg.hidden
    symbol#icon-nav-arrow(viewbox='0 0 24 17')
      title nav arrow
      polygon(points='14.1333333 2.61666667 18.9333333 7.41666667 0 7.41666667 0 10.0833333 18.9333333 10.0833333 14.1333333 14.8833333 16 16.75 24 8.75 16 0.75')
  svg.hidden
    symbol#circle(viewbox='0 0 200 200')
      title circle
      polygon(points='100 100 -75 0 75 75 0 1 0 150 0 75 75 0 1 0 -150 0')
  .home
  main.about
    .grid.grid--layout-1.grid--current#layout-1
      .grid__item(data-delay='150' data-direction='ttb')
      .grid__item(data-delay='300' data-direction='ttb')
      .grid__item(data-delay='200' data-direction='ttb')
      .grid__item(data-delay='40' data-direction='ttb')
      .grid__item(data-delay='70' data-direction='ttb')
      .grid__item(data-delay='100' data-direction='ttb')
      .grid__item(data-delay='250' data-direction='ttb')
      .grid__item(data-delay='350' data-direction='ttb')
      .grid__item(data-delay='400' data-direction='ttb')
      .grid__item(data-direction='ttb')
      .grid__item(data-direction='ttb' data-delay='20')
      .grid__item(data-direction='ttb' data-delay='500')
      .grid__item(data-delay='120' data-direction='ttb')
      .grid__item.grid__item--nav.grid__item--nav-prev(data-direction='ttb')
        svg.icon.icon--nav-arrow
          use(xlink:href='#icon-nav-arrow')
      .grid__item.grid__item--nav.grid__item--nav-next(data-direction='ttb')
        svg.icon.icon--nav-arrow
          use(xlink:href='#icon-nav-arrow')
      h2.grid__item.grid__item--name
        br
        | Branding
      h3.grid__item.grid__item--title Brand Longevity
      p.grid__item.grid__item--text
        | We build fully scoped out identity packages that are aligned to your personality, values and beliefs
    .grid.grid--layout-2#layout-2
      .grid__item(data-delay='350' data-direction='ttb')
      .grid__item(data-delay='20' data-direction='ttb')
      .grid__item(data-direction='ttb')
      .grid__item(data-delay='400' data-direction='ttb')
      .grid__item(data-delay='70' data-direction='ttb')
      .grid__item(data-delay='350' data-direction='ttb')
      .grid__item(data-delay='200' data-direction='ttb')
      .grid__item(data-delay='500' data-direction='ttb')
      .grid__item(data-direction='ttb')
      .grid__item(data-delay='20' data-direction='ttb')
      .grid__item(data-delay='450' data-direction='ttb')
      .grid__item(data-direction='ttb')
      .grid__item(data-delay='650' data-direction='ttb')
      .grid__item.grid__item--nav.grid__item--nav-prev(data-delay='100' data-direction='ttb')
        svg.icon.icon--nav-arrow
          use(xlink:href='#icon-nav-arrow')
      .grid__item.grid__item--nav.grid__item--nav-next(data-direction='ttb')
        svg.icon.icon--nav-arrow
          use(xlink:href='#icon-nav-arrow')
      h2.grid__item.grid__item--name
        br
        | Product Design
      h3.grid__item.grid__item--title Aspirations
      p.grid__item.grid__item--text
        | From specialist 3D products to premium garment design, our in-house creative team have a hands-on approach to to meet your aspirations.
    .grid.grid--layout-3#layout-3
      .grid__item(data-direction='ttb')
      .grid__item(data-delay='200' data-direction='ttb')
      .grid__item(data-delay='400' data-direction='ttb')
      .grid__item(data-delay='300' data-direction='ttb')
      .grid__item(data-delay='140' data-direction='ttb')
      .grid__item(data-delay='600' data-direction='ttb')
      .grid__item(data-delay='350' data-direction='ttb')
      .grid__item(data-delay='500' data-direction='ttb')
      .grid__item(data-delay='50' data-direction='ttb')
      .grid__item(data-delay='250' data-direction='ttb')
      .grid__item(data-delay='300' data-direction='ttb')
      .grid__item(data-delay='100' data-direction='ttb')
      .grid__item(data-delay='40' data-direction='ttb')
      .grid__item.grid__item--nav.grid__item--nav-prev(data-direction='ttb')
        svg.icon.icon--nav-arrow
          use(xlink:href='#icon-nav-arrow')
      .grid__item.grid__item--nav.grid__item--nav-next(data-delay='40' data-direction='ttb')
        svg.icon.icon--nav-arrow
          use(xlink:href='#icon-nav-arrow')
      h2.grid__item.grid__item--name
        br
        | Ecommerce
      h3.grid__item.grid__item--title Bespoke
      p.grid__item.grid__item--text
        | We build bespoke sites tailored to your brand. Our sites generate unrivalled conversion rates and customer return rates
    .grid.grid--layout-1#layout-4
      .grid__item(data-direction='ttb')
      .grid__item(data-delay='200' data-direction='ttb')
      .grid__item(data-delay='400' data-direction='ttb')
      .grid__item(data-delay='300' data-direction='ttb')
      .grid__item(data-delay='140' data-direction='ttb')
      .grid__item(data-delay='600' data-direction='ttb')
      .grid__item(data-delay='350' data-direction='ttb')
      .grid__item(data-delay='500' data-direction='ttb')
      .grid__item(data-delay='50' data-direction='ttb')
      .grid__item(data-delay='250' data-direction='ttb')
      .grid__item(data-delay='300' data-direction='ttb')
      .grid__item(data-delay='100' data-direction='ttb')
      .grid__item(data-delay='40' data-direction='ttb')
      .grid__item.grid__item--nav.grid__item--nav-prev(data-direction='ttb')
        svg.icon.icon--nav-arrow
          use(xlink:href='#icon-nav-arrow')
      .grid__item.grid__item--nav.grid__item--nav-next(data-delay='40' data-direction='ttb')
        svg.icon.icon--nav-arrow
          use(xlink:href='#icon-nav-arrow')
      h2.grid__item.grid__item--name
        br
        | Manufacture
      h3.grid__item.grid__item--title Ethical
      p.grid__item.grid__item--text
        | We have a diverse portfolio of quality and ethical factory partners so we can create unique products that will resonate with your community
    .grid.grid--layout-2#layout-5
      .grid__item(data-direction='ttb')
      .grid__item(data-delay='200' data-direction='ttb')
      .grid__item(data-delay='400' data-direction='ttb')
      .grid__item(data-delay='300' data-direction='ttb')
      .grid__item(data-delay='140' data-direction='ttb')
      .grid__item(data-delay='600' data-direction='ttb')
      .grid__item(data-delay='350' data-direction='ttb')
      .grid__item(data-delay='500' data-direction='ttb')
      .grid__item(data-delay='50' data-direction='ttb')
      .grid__item(data-delay='250' data-direction='ttb')
      .grid__item(data-delay='300' data-direction='ttb')
      .grid__item(data-delay='100' data-direction='ttb')
      .grid__item(data-delay='40' data-direction='ttb')
      .grid__item.grid__item--nav.grid__item--nav-prev(data-direction='ttb')
        svg.icon.icon--nav-arrow
          use(xlink:href='#icon-nav-arrow')
      .grid__item.grid__item--nav.grid__item--nav-next(data-delay='40' data-direction='ttb')
        svg.icon.icon--nav-arrow
          use(xlink:href='#icon-nav-arrow')
      h2.grid__item.grid__item--name
        br
        | Digital Marketing
      h3.grid__item.grid__item--title Strategy
      p.grid__item.grid__item--text
        | Working to your launch dates, we will develop a comprehensive marketing strategy to ensure your brand makes the right noise.
    .grid.grid--layout-3#layout-6
      .grid__item(data-direction='ttb')
      .grid__item(data-delay='200' data-direction='ttb')
      .grid__item(data-delay='400' data-direction='ttb')
      .grid__item(data-delay='300' data-direction='ttb')
      .grid__item(data-delay='140' data-direction='ttb')
      .grid__item(data-delay='600' data-direction='ttb')
      .grid__item(data-delay='350' data-direction='ttb')
      .grid__item(data-delay='500' data-direction='ttb')
      .grid__item(data-delay='50' data-direction='ttb')
      .grid__item(data-delay='250' data-direction='ttb')
      .grid__item(data-delay='300' data-direction='ttb')
      .grid__item(data-delay='100' data-direction='ttb')
      .grid__item(data-delay='40' data-direction='ttb')
      .grid__item.grid__item--nav.grid__item--nav-prev(data-direction='ttb')
        svg.icon.icon--nav-arrow
          use(xlink:href='#icon-nav-arrow')
      .grid__item.grid__item--nav.grid__item--nav-next(data-delay='40' data-direction='ttb')
        svg.icon.icon--nav-arrow
          use(xlink:href='#icon-nav-arrow')
      h2.grid__item.grid__item--name
        br
        | Distribution
      h3.grid__item.grid__item--title Scalable
      p.grid__item.grid__item--text
        | The dedicated team at our in-house distribution warehouse can fulfil worldwide orders and is scalable to meet your demand.
    .grid.grid--layout-1.grid#layout-7
      .grid__item(data-delay='150' data-direction='ttb')
      .grid__item(data-delay='300' data-direction='ttb')
      .grid__item(data-delay='200' data-direction='ttb')
      .grid__item(data-delay='40' data-direction='ttb')
      .grid__item(data-delay='70' data-direction='ttb')
      .grid__item(data-delay='100' data-direction='ttb')
      .grid__item(data-delay='250' data-direction='ttb')
      .grid__item(data-delay='350' data-direction='ttb')
      .grid__item(data-delay='400' data-direction='ttb')
      .grid__item(data-direction='ttb')
      .grid__item(data-direction='ttb' data-delay='20')
      .grid__item(data-direction='ttb' data-delay='500')
      .grid__item(data-delay='120' data-direction='ttb')
      .grid__item.grid__item--nav.grid__item--nav-prev(data-direction='ttb')
        svg.icon.icon--nav-arrow
          use(xlink:href='#icon-nav-arrow')
      .grid__item.grid__item--nav.grid__item--nav-next(data-direction='ttb')
        svg.icon.icon--nav-arrow
          use(xlink:href='#icon-nav-arrow')
      h2.grid__item.grid__item--name
        br
        | Customer Service
      h3.grid__item.grid__item--title Assist
      p.grid__item.grid__item--text
        | Our customer support team responds to all queries within 24 hours and is happy to assist your customers on their journey.
    .grid.grid--layout-2#layout-8
      .grid__item(data-direction='ttb')
      .grid__item(data-delay='200' data-direction='ttb')
      .grid__item(data-delay='400' data-direction='ttb')
      .grid__item(data-delay='300' data-direction='ttb')
      .grid__item(data-delay='140' data-direction='ttb')
      .grid__item(data-delay='600' data-direction='ttb')
      .grid__item(data-delay='350' data-direction='ttb')
      .grid__item(data-delay='500' data-direction='ttb')
      .grid__item(data-delay='50' data-direction='ttb')
      .grid__item(data-delay='250' data-direction='ttb')
      .grid__item(data-delay='300' data-direction='ttb')
      .grid__item(data-delay='100' data-direction='ttb')
      .grid__item(data-delay='40' data-direction='ttb')
      .grid__item.grid__item--nav.grid__item--nav-prev(data-direction='ttb')
        svg.icon.icon--nav-arrow
          use(xlink:href='#icon-nav-arrow')
      .grid__item.grid__item--nav.grid__item--nav-next(data-delay='40' data-direction='ttb')
        svg.icon.icon--nav-arrow
          use(xlink:href='#icon-nav-arrow')
      h2.grid__item.grid__item--name
        br
        | Retailing
      h3.grid__item.grid__item--title Move
      p.grid__item.grid__item--text
        | If retail is the right move for your brand, we help to get your products into the right stores across the country.
    .grid.grid--layout-3#layout-6
      .grid__item(data-direction='ttb')
      .grid__item(data-delay='200' data-direction='ttb')
      .grid__item(data-delay='400' data-direction='ttb')
      .grid__item(data-delay='300' data-direction='ttb')
      .grid__item(data-delay='140' data-direction='ttb')
      .grid__item(data-delay='600' data-direction='ttb')
      .grid__item(data-delay='350' data-direction='ttb')
      .grid__item(data-delay='500' data-direction='ttb')
      .grid__item(data-delay='50' data-direction='ttb')
      .grid__item(data-delay='250' data-direction='ttb')
      .grid__item(data-delay='300' data-direction='ttb')
      .grid__item(data-delay='100' data-direction='ttb')
      .grid__item(data-delay='40' data-direction='ttb')
      .grid__item.grid__item--nav.grid__item--nav-prev(data-direction='ttb')
        svg.icon.icon--nav-arrow
          use(xlink:href='#icon-nav-arrow')
      .grid__item.grid__item--nav.grid__item--nav-next(data-delay='40' data-direction='ttb')
        svg.icon.icon--nav-arrow
          use(xlink:href='#icon-nav-arrow')
      h2.grid__item.grid__item--name
        br
        | EVENTS
      h3.grid__item.grid__item--title Generate
      p.grid__item.grid__item--text
        | We know how to generate brand hype through pop ups and events. We facilitate everything from the set design through to logistics.
    .table      
      ul#slidernav
        li.pulse.active#section-1 
          p.slide--text BRANDING
            span.blinking-cursor _
          use(xlink:href='#circle') 
        li.pulse#section-2
          p.slide--text DESIGN
            span.blinking-cursor _
          use(xlink:href='#circle')
        li.pulse#section-3
          p.slide--text MANUFACURE
            span.blinking-cursor _
          use(xlink:href='#circle')
        li.pulse#section-4
          p.slide--text ECOMMERCE
            span.blinking-cursor _
          use(xlink:href='#circle')
        li.pulse#section-5
          p.slide--text MARKETING
            span.blinking-cursor _
          use(xlink:href='#circle')
        li.pulse#section-6
          p.slide--text DISTRIBUTION
            span.blinking-cursor _
          use(xlink:href='#circle')
        li.pulse#section-7
          p.slide--text C.SERVICE
            span.blinking-cursor _
          use(xlink:href='#circle')
        li.pulse#section-8
          p.slide--text RETAILING
            span.blinking-cursor _
          use(xlink:href='#circle')
        li.pulse#section-9
          p.slide--text EVENTS
            span.blinking-cursor _
          use(xlink:href='#circle')
  link(rel='stylesheet' type='text/css' href='../css/about.css')
  link(rel='stylesheet' type='text/css' href='../css/revealer.css')
  script(src='../js/revealer.js')
  script(src='../js/about.js')
