extends nav

block contact
  .main
    .bio
      a(href='/')
        img(src='../media/logo.png' alt='Catalyst Logo' class="profile-img")
      p Get in touch with us. Contact us for your projects
      a(href='#' class="bio-link") Twitter
        i(class="fa fa-twitter")
      a(href='#' class="bio-link") Facebook
        i(class="fa fa-facebook")
      a(href='#' class="bio-link") Instagram
        i(class="fa fa-instagram")
    .contact 
      form#form(action='/send-email' method='post')
        fieldset
          input(type="text" placeholder="Your name..." class="form-control" id="name" name="name")
          label(for="name" class="fa fa-user" aria-hidden="true")
        fieldset
          input(type="text" placeholder="Your email..." class="form-control" id="email" name="email")
          label(for="email" class="fa fa-envelope" aria-hidden="true")
        fieldset
          input(type="text" placeholder="Your social media..." class="form-control" id="social" name="social")
          label(for="social" class="fa fa-instagram" aria-hidden="true")
        fieldset
          textarea(type="text" placeholder="Your Message..." class="form-control" id="message" name="message")
          label(for="message" class="fa fa-comment" aria-hidden="true")
        fieldset
          button.fill-button#submit(type="submit" name="submit")
            span.fill-button-hover
              span.fill-button-text Submit
		
        
  link(rel='stylesheet' type='text/css' href='../css/contact.css')
        
