extends nav

block expertise
  main.home.expertise
    .glitch 
      svg.logo-bg(xmlns='http://www.w3.org/2000/svg', viewbox='-50 0 1297.92 794.17')
        g#logo-wrap(data-name='logo-wrap')
          g#logo.mainPink(data-name='logo')
            path.bottom-left.inner.bottom.one(d='M.6 793.8l199.88-396.35h166.07L166.66 793.8H.6z')
            path.bottom-left.outer.bottom(d='M366 397.82L166.44 793.43H1.19l199.52-395.61H366m1.2-.74H200.26L0 794.17h166.89l200.26-397.09z')
            path.top-left.inner.top.two(d='M367.75 396.72L567.63.37H733.7L533.81 396.72H367.75z')
            path.top-left.outer.top(d='M733.1.74L533.59 396.35H368.34L567.86.74H733.1m1.19-.74H567.4L367.15 397.08H534L734.29 0z')
            path.bottom-right.inner.bottom.three(d='M464.22 793.8l199.89-396.35h166.07L630.29 793.8H464.22z')
            path.bottom-right.outer.bottom(d='M829.58 397.82L630.06 793.43H464.82l199.52-395.61h165.24m1.19-.74H663.88L463.63 794.17h166.89l200.25-397.09z')
            path.top-right.inner.top.four(d='M831.37 396.72L1031.26.37h166.07L997.44 396.72H831.37z')
            path.top-right.outer.top(d='M1196.73.74L997.21 396.35H832L1031.48.74h165.25m1.19-.74H1031L830.77 397.08h166.89L1197.92 0z')
      .glitch__img
      .glitch__img
      .glitch__img
      .glitch__img
      .glitch__img
    .parent
      .div1
        h1.content__title.expertise
          | EXPERTISE 
          span  
      .div2#two
        p Branding
      .div3#three 
        p Product Design
      .div4#four
        p  Product Sourcing
      .div5#five  
        p Digital &amp; 
          br 
          | Performance 
          br 
          | Marketing
      .div6#six 
        p Web Development
      .div7#seven
        p Warehouse &amp; fulfilment
      .div8#eight
        p Fragrance, Cosmetic &amp; 
          br
          | skincare product development
      .div9#nine
        p social media management 
      .div10#ten
        p events &amp; pop-ups 
      .div11#eleven
        p health &amp; beauty manufacturing
      .div12#twelve
        p clothing &amp; accessory manufacturing
      .div13#thirteen
        p retailing  
      .div14#fourteen
        p customer service
  script(src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js')
  link(rel='stylesheet' type='text/css' href='css/homeStyles.css')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/gsap.js')
  

  
