block layout
doctype html
html.js
  head
    meta(charset="utf-8")
    link(rel="shortcut icon", href="/favicon.ico")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color", content="#000000")
    title #{title} | CATALYST
    
    //nav bar
    script(src='js/nav.js')
    link(rel='stylesheet' href='css/navStyles.css')
    
    script(src='js/imagesloaded.pkgd.min.js')
    link(href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Poppins:300,900&display=swap' rel='stylesheet')
  body.fade.dark-mode
  block nav
