block layout
doctype html
html.js
  head
    meta(charset="utf-8")
    meta(name='description' content='Helping Celebrities and Influencers to launch their own products and brands. We pride ourselves on our sought-after product offering. From sustainable cut & sew apparel to trend-inducing accessories; we build brands that resonate with global consumers.')
    
    // Twitter Card data
    meta(name='twitter:card' content='YOUR BRAND REVOLUTION! Helping Celebrities and Influencers to launch their own products and brands')
    meta(name='twitter:site' content='https://justcatalyst.com/')
    meta(name='twitter:title' content='CATALYST - YOUR BRAND REVOLUTION')
    meta(name='twitter:description' content='Helping Celebrities and Influencers to launch their own products and brands. We pride ourselves on our sought-after product offering. From sustainable cut & sew apparel to trend-inducing accessories; we build brands that resonate with global consumers.')
    meta(name='twitter:creator' content='oContis')
    // Twitter Summary card images must be at least 120x120px
    meta(name='twitter:image' content='/media/favicons/social-card.jpg')
    
    // Open Graph data
    meta(property='og:title' content='CATALYST - YOUR BRAND REVOLUTION')
    meta(property='og:type' content='website')
    meta(property='og:url' content='https://justcatalyst.com/')
    meta(property='og:image' content='/media/favicons/social-card.jpg')
    meta(property='og:description' content='Helping Celebrities and Influencers to launch their own products and brands. We pride ourselves on our sought-after product offering. From sustainable cut & sew apparel to trend-inducing accessories; we build brands that resonate with global consumers.')
    meta(property='og:site_name' content='Catalyst')

    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color", content="#FF6695")
    title #{title} | CATALYST - YOUR BRAND REVOLUTION
    
    // Favicons
    link(rel='apple-touch-icon' sizes='120x120' href='/media/favicons/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='/media/favicons/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='/media/favicons/favicon-16x16.png')
    link(rel='manifest' href='/media/favicons/site.webmanifest')
    link(rel='mask-icon' href='/media/favicons/safari-pinned-tab.svg' color='#5bbad5')
    link(rel='shortcut icon' href='/media/favicons/favicon.ico')
    meta(name='msapplication-TileColor' content='#FF6695')
    meta(name='msapplication-config' content='/media/favicons/browserconfig.xml')
    
    //nav bar
    script(src='js/nav.js')
    link(rel='stylesheet' href='css/navStyles.css')
    link(rel='stylesheet' type='text/css' href='css/styles.css')
    link(rel='manifest' href='/manifest.webmanifest')
    
    script(src='https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js')
    script(src='https://code.jquery.com/jquery-3.4.1.min.js' integrity='sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=' crossorigin='anonymous')
    script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js' crossorigin='anonymous')
    link(href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet')
    link(rel='stylesheet' href='https://use.typekit.net/csh5yqn.css')
      
    script(src='js/functions.js')
  body.fade
  block nav
