extends layout

block nav
  header.header
    a.header__title(href='/')
    .burger
      .burger__patty
      .burger__patty
      .burger__patty
    nav.menu
      .menu__brand
        #circle
          svg(viewbox='0 0 300 300')
            defs
              path#circlePath(d='M 150, 150 m -60, 0 a 60,60 0 0,1 120,0 a 60,60 0 0,1 -120,0 ')
            circle(cx='150' cy='100' r='75' fill='none')
            g
              use(xlink:href='#circlePath' fill='none')
              text(fill='var(--dark)')
                textpath(xlink:href='#circlePath') # YOUR  BRAND  REVOLUTION  CATALYST #
        .social
          a(href="https://www.instagram.com/justcatalyst/" target="_blank" rel="noopener")
            i.fa.fa-instagram.fa-1x.icon-3d
          a(href="https://www.linkedin.com/company/c-atalyst/" target="_blank" rel="noopener")
            i.fa.fa-linkedin.fa-1x.icon-3d
      ul#accordion.menu__list
        li.menu__item
          a.menu__link(href='/') HOME
        li.menu__item.test
          a.menu__link#dropdown(href='#') WHAT WE DO
          ul.submenu__list
            li.submenu__item
              a#pod.submenu__link(href='/pod') PRINT ON DEMAND
            li.submenu__item
              a#manufactured.submenu__link(href='/manufacturing') MANUFACTUERED APPAREL
            li.submenu__item
              a#cosmetics.submenu__link(href='/cosmetics') HEALTH & BEAUTY
            li.submenu__item
              a#fitness.submenu__link(href='/fitness') FITNESS
        li.menu__item
          a.menu__link(href='/expertise') EXPERTISE
        li.menu__item
          a.menu__link(href='/projects') PROJECTS
        li.menu__item
          a.menu__link(href='/contact') CONTACT
  block index
  block pod
  block manufacturing
  block cosmetics
  block fitness
  block about
  block contact
  block expertise
