extends nav

block services
  main.services
  .content.content--second
    article.item
      .item__img
        svg.logo-bg.red(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 1197.92 994.17' preserveaspectratio='xMinYMid meet')
          g#logo-wrap(data-name='logo-wrap')
            g#logo(data-name='logo')
              path.bottom-left.inner.bottom.one(d='M.6 793.8l199.88-396.35h166.07L166.66 793.8H.6z')
              path.bottom-left.outer.bottom(d='M366 397.82L166.44 793.43H1.19l199.52-395.61H366m1.2-.74H200.26L0 794.17h166.89l200.26-397.09z')
              path.top-left.inner.top.two(d='M367.75 396.72L567.63.37H733.7L533.81 396.72H367.75z')
              path.top-left.outer.top(d='M733.1.74L533.59 396.35H368.34L567.86.74H733.1m1.19-.74H567.4L367.15 397.08H534L734.29 0z')
              path.bottom-right.inner.bottom.three(d='M464.22 793.8l199.89-396.35h166.07L630.29 793.8H464.22z')
              path.bottom-right.outer.bottom(d='M829.58 397.82L630.06 793.43H464.82l199.52-395.61h165.24m1.19-.74H663.88L463.63 794.17h166.89l200.25-397.09z')
              path.top-right.inner.top.four(d='M831.37 396.72L1031.26.37h166.07L997.44 396.72H831.37z')
              path.top-right.outer.top(d='M1196.73.74L997.21 396.35H832L1031.48.74h165.25m1.19-.74H1031L830.77 397.08h166.89L1197.92 0z')
      .item__content
        a.item__content-back back
        h2.item__content-title Print on demand
        h3.item__content-subtitle Artisans at work
        .item__content-text
          p
            | Now, when anything attracted his attention he always asked what it meant; and his mother, or more frequently Uncle Maxim, would explain to him the nature of the objects or of the creatures that caused these various sounds.
          p
            | His mother&rsquo;s explanations, more lively and graphic, impressed the boy with greater force; but sometimes this impression would be too painful.
          p
            | Upon the features of the young woman, herself suffering, could be read the expression of her inmost feelings, and in her eyes a silent protest or a look of pain, as she strove to convey to the child an idea of form and color.
    article.item
      .item__img(style='background-image: url(../media/img/15.jpg)')
      .item__content
        a.item__content-back back
        h2.item__content-title Manufacturing
        h3.item__content-subtitle Contemporary art
        .item__content-text
          p
            | Thus blindness proved no drawback to systematic physical development, while its influence over the moral nature of the child was reduced to its minimum. He was tall for his age and well built; his face was somewhat pale, his features fine and expressive.
          p
            | His dark hair enhanced the pallid hue of his complexion, while his eyes&mdash;large, dark, and almost motionless&mdash;gave him a peculiar aspect that at once attracted attention.
          p
            | A slight wrinkle between his eye-brows, a habit of inclining his head slightly forward, and the expression of sadness that[93] sometimes overcast his handsome face &mdash; these were the outward tokens of his blindness.
    article.item
      .item__img(style='background-image: url(../media/img/8.jpg)')
      .item__content
        a.item__content-back back
        h2.item__content-title Cosmetics
        h3.item__content-subtitle Makeup art
        .item__content-text
          p
            | The impressions received through the channels of sound outweighed all others in their influence over the life of the blind boy; his ideas shaped themselves according to sounds, his sense of hearing became the centre of his mental activity.
          p
            | The enchanting melodies of the songs he heard conveyed to him a true sense of the words, coloring them with sadness or joy according to the lights and shades of the melody.
          p
            | He quickly learned all his mother taught him on the piano, and yet he still loved Joachim&rsquo;s pipe.
    article.item
      .item__img(style='background-image: url(../media/img/4.jpg)')
      .item__content
        a.item__content-back back
        h2.item__content-title Fitness
        h3.item__content-subtitle Festival feature
        .item__content-text
          p
            | Thus the boy&rsquo;s day was filled; he could not complain of the lack of new impressions.
          p
            | He seemed to be living as full a life as any child could possibly live; in fact he really seemed unconscious of his blindness.
          p
            | Nevertheless, a certain premature sadness was still perceptible in his character, which Maxim ascribed to the fact that he had never mingled with other children, and endeavored to atone for this omission.
  .content.content--first
    .content__move
      .columns
        .column
          .column__img(style='background-image:url(../media/img/2.jpg)')
          .column__img(style='background-image:url(../media/img/6.jpg)')
          .column__img(style='background-image:url(../media/img/13.jpg)')
          .column__img(style='background-image:url(../media/img/14.jpg)')
          .column__img(style='background-image:url(../media/img/5.jpg)')
          .column__img(style='background-image:url(../media/img/6.jpg)')
          .column__img(style='background-image:url(../media/img/7.jpg)')
          .column__img(style='background-image:url(../media/img/8.jpg)')
          .column__img(style='background-image:url(../media/img/9.jpg)')
        .column.column--bottom
          .column__img(style='background-image:url(../media/img/3.jpg)')
          .column__img(style='background-image:url(../media/img/11.jpg)')
          .column__img(style='background-image:url(../media/img/1.jpg)')
          .column__img(style='background-image:url(../media/img/15.jpg)')
          .column__img(style='background-image:url(../media/img/14.jpg)')
          .column__img(style='background-image:url(../media/img/13.jpg)')
          .column__img(style='background-image:url(../media/img/12.jpg)')
          .column__img(style='background-image:url(../media/img/3.jpg)')
          .column__img(style='background-image:url(../media/img/15.jpg)')
        .column
          .column__img(style='background-image:url(../media/img/7.jpg)')
          .column__img(style='background-image:url(../media/img/4.jpg)')
          .column__img(style='background-image:url(../media/img/9.jpg)')
          .column__img(style='background-image:url(../media/img/11.jpg)')
          .column__img(style='background-image:url(../media/img/5.jpg)')
          .column__img(style='background-image:url(../media/img/3.jpg)')
          .column__img(style='background-image:url(../media/img/2.jpg)')
          .column__img(style='background-image:url(../media/img/1.jpg)')
          .column__img(style='background-image:url(../media/img/5.jpg)')
          .column__img(style='background-image:url(../media/img/14.jpg)')
        .column.column--bottom
          .column__img(style='background-image:url(../media/img/1.jpg)')
          .column__img(style='background-image:url(../media/img/2.jpg)')
          .column__img(style='background-image:url(../media/img/3.jpg)')
          .column__img(style='background-image:url(../media/img/7.jpg)')
          .column__img(style='background-image:url(../media/img/4.jpg)')
          .column__img(style='background-image:url(../media/img/6.jpg)')
          .column__img(style='background-image:url(../media/img/5.jpg)')
          .column__img(style='background-image:url(../media/img/8.jpg)')
          .column__img(style='background-image:url(../media/img/10.jpg)')
      // /columns
      nav.serv_menu
        a.services_menu PRINT ON DEMAND
        a.services_menu MANUFACTURING
        a.services_menu COSMETICS
        a.services_menu FITNESS
    // /content--move
  // /content
  .cursor
    .cursor__inner.cursor__inner--circle
  link(rel='stylesheet' type='text/css' href='css/services.css')
  script(src='../js/charming.min.js')
  script(src='../js/bezier-easing.min.js')
  script(src='../js/TweenMax.min.js')
  script(src='../js/services.js')
