
.contact {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  height: 100vh;
  width:100%;
  background: var(--dark);
}
.contact .header,
.contact legend.header {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.25rem;
  margin: 0.5em 0;
}

.contact .contact-form {
  max-width: 100vw;
  margin-top: 2vh;
  z-index:999;
}
.contact .contact-form {
  color: var(--mainPink);
}
.contact .contact-form form fieldset {
  font-size: 1rem;
  position: relative;
  border: none;
  margin-bottom: 0.25em;
  padding: 0.25em 0;
}
.contact .contact-form form fieldset label {
  font-size: 0.875rem;
  display: block;
  position: absolute;
  right: 0.125em;
  top: 1em;
  color: #C7C7C7;
}
.contact .contact-form form input,
.contact .contact-form form textarea,
.contact .contact-form form select {
  border: 0;
}
.contact .contact-form form input:focus,
.contact .contact-form form textarea:focus,
.contact .contact-form form select:focus {
  outline: none;
}
.contact .contact-form form input,
.contact .contact-form form textarea,
.contact .contact-form form select  {
  display: block;
  font-family: var(--font);
  letter-spacing: 3px;
  font-size: 0.765rem;
  padding: 0.5em 0;
  width: 30vw;
  min-width:100%;
  background: none;
  color: var(--mainPink);
  border-bottom: 1px solid #C7C7C7;
  transition: border 300ms ease-in-out;
}
.contact .contact-form form input:focus,
.contact .contact-form form textarea:focus,
.contact .contact-form form select:focus{
  border-bottom: 1px solid var(--mainPink);
}

#form fieldset input:focus + .fa, #form fieldset textarea:focus + .fa, #form fieldset select:focus + .fa {
  color:var(--mainPink);
  transition: border 300ms ease-in-out;
}

.contact .contact-form form input::placeholder,
.contact .contact-form form textarea::placeholder,{
    color: #35495e;
}
.contact .contact-form textarea {
  resize: none;
}

.contact {
  overflow: hidden;
  animation: Page 600ms ease-in-out forwards;
}

.bio {
  /* margin-top:10vh; */
}

.left p, .contact-bold {
  font-family: var(--font);
  margin:0;
}

.left p {
  font-size: calc(12px + 0.3vw);
}

.contact-bold {
  font-size: calc(12px + 0.6vw) !important;
  font-weight: var(--bold);
  text-transform: uppercase;
  margin-bottom:15px !important;
}

.contact-form {
  animation: contact-form 600ms ease-in-out forwards;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

#service:focus {
  background-color: var(--dark);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

#test {
  background-color: transparent;
}

@keyframes Page {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Bio {
  0% {
    transform: translateX(-50vw);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes contact-form {
  0% {
    transform: translateX(50vw);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes swell {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}


@media screen and (max-width: 980px) {
  .contact {
    display:inline-grid !important;
    margin-right:25px;
    margin-top:0;
  }
  .profile-img {
    display:none;
  }
}

@media screen and (max-width: 55em) {
  .contact .contact-form {
    max-width: 100vw;
    margin-top: 10vh;
    margin-left: 0px;
  }
  .fill-button {
    margin-top:5px;
  }
}

.fill-button {
  margin-left:0;
}
