/*  Buttons style */
.fill-button {
	height:50px;
	margin-top:40px;
	margin-left:10px;
  position: relative;
  overflow:hidden;
  display:inline-block;
  width:48%;
  border:1px solid #c7c7c7;
	background-color:transparent;
  text-align:center;
  box-sizing:border-box;
  color:#c7c7c7;
  text-decoration:none;
  cursor: pointer;
  font-family: Poppins, serif;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size:1em;
	font-weight: 300;
}
.fill-button > span {
  display:block;
	height:50px;

}
.fill-button > .fill-button-hover:after, .fill-button > .fill-button-hover:before {
  position:absolute;
  top:0;
  opacity:0;
  display:block;
  content:"";
  width:0;
  height:50px;
}
.fill-button > .fill-button-hover:after {
  background-color:#202020;
  transform:skewX(45deg);
  transform-origin:center center;
  transition:all .35s, opacity .4s;
  left:50%;
}
.fill-button .fill-button-hover:before {
  background-color:#00E2CF;
  transition:opacity 1s;
}

.fill-button .fill-button-text {
  z-index:1;
  position:relative;
  color:#c7c7c7;
  transition:color .35s;
	top:10px;
}
.fill-button:hover .fill-button-text {
  color:#00E2CF;
}
.fill-button .fill-button-hover:hover:after {
  opacity:1;
  left:2%;
  width:95%;
  transform:skewX(45deg);
}
.fill-button > .fill-button-hover:hover:before {
  opacity: 1;
  left: 0;
  width:100%;
}


/* BLINKING CURSOR */
.blinking-cursor {
	display:none;

}

.active span:not(:hover), .cursor-project  {
	display:inline;
	margin-left:-3px;
  font-weight: 300;
  color: #d3d9d9;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #d3d9d9;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #d3d9d9;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #d3d9d9;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #d3d9d9;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #d3d9d9;
  }
}


/* Grain Effect*/
.home, .contact {
	width: 100%;
	overflow: hidden;
	position: relative;
	height: 100%;
}

.home:after, .contact:after{
  animation: grain 8s steps(10) infinite;
  background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/wild_oliva.png);
  content: "";
  height: 300%;
  left: -50%;
  opacity: 0.4;
  position: fixed;
  top: -110%;
  width: 300%;
}



@keyframes grain {
  0%, 100% { transform:translate(0, 0) }
  10% { transform:translate(-5%, -10%) }
  20% { transform:translate(-15%, 5%) }
  30% { transform:translate(7%, -25%) }
  40% { transform:translate(-5%, 25%) }
  50% { transform:translate(-15%, 10%) }
  60% { transform:translate(15%, 0%) }
  70% { transform:translate(0%, 15%) }
  80% { transform:translate(3%, 35%) }
  90% { transform:translate(-10%, 10%) }
}
