/*************************************************

							Global Variables

*************************************************/
:root {
	--blue: #3B27BA;
	--green: #13CA91;
	--pink: #FF6595;
	--red: #ff0040;
	--white: #fff;
	--dark: #252528;
	--mainPink: #FF6595;

	--bold: 900;
	--regular: 400;
	--font: nimbus-sans-extended, sans-serif;

}

* {
  box-sizing: border-box;
}

/*************************************************

							General CSS

*************************************************/

body {
	background: var(--dark);
	color: var(--white);
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
  margin:0;
  opacity: 1;
  transition: 1s opacity;
}

body.fade {
    opacity: 0;
    transition: 1s opacity;
}



/*************************************************

							SVG LOGO  Animation

*************************************************/
.logo-bg {
	margin-left:-10vw;
	height: 100%;
		z-index:999999999999999;
}


.outer {
	fill:#fff;
}


.top-left, .top-right {
		  -webkit-animation: slide-in-tl 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) ;
	        animation: slide-in-tl 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) ;
		}

.bottom-left, .bottom-right {
	-webkit-animation: slide-in-bl 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) ;
	  	animation: slide-in-bl 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) ;
}

	/**
	 * ----------------------------------------
	 * animation slide-in-tl
	 * ----------------------------------------
	 */
	@-webkit-keyframes slide-in-tl {
	  0% {
		-webkit-transform: translateY(-1000px) translateX(-1000px);
				transform: translateY(-1000px) translateX(-1000px);
		opacity: 0;
	  }
	  100% {
		-webkit-transform: translateY(0) translateX(0);
				transform: translateY(0) translateX(0);
		opacity: 1;
	  }
	}
	@keyframes slide-in-tl {
	  0% {
		-webkit-transform: translateY(-1000px) translateX(-1000px);
				transform: translateY(-1000px) translateX(-1000px);
		opacity: 0;
	  }
	  100% {
		-webkit-transform: translateY(0) translateX(0);
				transform: translateY(0) translateX(0);
		opacity: 1;
	  }
	}

	/**
	 * ----------------------------------------
	 * animation slide-in-bl
	 * ----------------------------------------
	 */
	@-webkit-keyframes slide-in-bl {
	  0% {
		-webkit-transform: translateY(1000px) translateX(-1000px);
				transform: translateY(1000px) translateX(-1000px);
		opacity: 0;
	  }
	  100% {
		-webkit-transform: translateY(0) translateX(0);
				transform: translateY(0) translateX(0);
		opacity: 1;
	  }
	}
	@keyframes slide-in-bl {
	  0% {
		-webkit-transform: translateY(1000px) translateX(-1000px);
				transform: translateY(1000px) translateX(-1000px);
		opacity: 0;
	  }
	  100% {
		-webkit-transform: translateY(0) translateX(0);
				transform: translateY(0) translateX(0);
		opacity: 1;
	  }
	}


	/**
	 * ----------------------------------------
	 * Print on demand page
	 * ----------------------------------------
	 */

	 .red {
	 	fill:var(--red);
	 	margin-left:25vw;
	 }
	 h1.red {
	 	margin-top:0;
	 	-webkit-text-stroke-color: var(--red);
	 	margin-left:5vw;
	 }
	 .content_red {
		 top:70vh !important;
		 left:10vw !important;
	 }

	/**
	 * ----------------------------------------
	 * Manufacturing page
	 * ----------------------------------------
	 */

	 .blue {
	 	fill:var(--blue);
		margin-left:20vw;
	 }

	 h1.blue {
	 	margin-top:-20vw;
	 	-webkit-text-stroke-color: var(--blue);
	 	margin-left:-8vw;
	 }
	 .content_blue {
		 top:60vh !important;
		 left:10vw !important;
	 }

	/**
		* ----------------------------------------
	  * Cosmetics page
	  * ----------------------------------------
	  */

		.pink {
			fill:var(--pink);
			margin-left:10vw;
		}
		h1.pink {
 	 	margin-top:-20vw;
 	 	-webkit-text-stroke-color: var(--pink);
 	 	margin-left:-8vw;
 	 }
 	 .content_pink {
 		 top:60vh !important;
 		 left:10vw !important;
 	 }

	/**
		* ----------------------------------------
		* Fitness page
		* ----------------------------------------
		*/

		.green {
			fill:var(--green);
			margin-left:-10vw;
		}
		h1.green {
 	 	margin-top:-20vw;
 	 	-webkit-text-stroke-color: var(--green);
 	 	left:7vw;
 	 }
	 h1.green span {
		 display:none;
	 }
 	 .content_green {
 		 top:60vh !important;
 		 right: 10!important;
 	 }

	 /**
 		* ----------------------------------------
 		* Contact Page
 		* ----------------------------------------
 		*/
		.blank {
			fill:none;
			margin-left:-30vw;
		}
		h1.blank {
 	 	margin-top:-2vh;
 	 	-webkit-text-stroke-color: var(--mainPink);
 	 	left:45vw;
 	 }

	 /**
		 * ----------------------------------------
		 * Expertise Page
		 * ----------------------------------------
		 */
	 h1.services {
		 top:-10vw;
		 -webkit-text-stroke-color: var(--white);
		 left:20vw;
		 position:absolute;
		}

		/**
 		 * ----------------------------------------
 		 * Projects Page
 		 * ----------------------------------------
 		 */
 	 h1.projects {
 		 top:-10vw;
 		 -webkit-text-stroke-color: var(--white);
 		 margin-left:0;
 		 position:absolute;
 		}
	 .desc-projects {
		 top:35vh !important;
		 left:15vw !important;
	 }
	 .logo-projects {
		 margin-left: 20vw;
    height: 100%;
    z-index: 999999999999999;
	 }
	 .project-button {
		 float:right;
		 letter-spacing: 0px !important;
	 }



	@media screen and (max-width: 920px) {
		/* Projects */
		h1.projects {
	 		top:0;
	 		margin:0;
      bottom: 65vh;
			position:sticky;
	 	}
	 	.project-button {
	 		margin: 0 1em;
	 	}

		.logo-projects {
			margin-left: -43vw;
		}

		/*Red*/
		 .red {
		 	margin-left:-15vw;
		 }
		 h1.red {
		 	bottom:10vh;
		 	margin-left:5vw;
		 }
		 .content_red {
			 top:55vh !important;
			 left:10vw !important;
		 }
		 .content__title span {
			 margin:0;
		 }

		 /*Blue */
		 .blue {
			margin-left:-20vw;
		 }

		 h1.blue {
			margin-top:-10px;
			bottom: 10vh;
		 	margin-left:0vw;
		 }
		 .content_blue {
			 top:50vh !important;
			 left:10vw !important;
		 }

		 /*Pink */
		 .pink {
 			margin-left:50vw;
 		}
 		h1.pink {
  	  bottom:10vh;
  	 	margin-left:0vw;
  	 }
  	 .content_pink {
  		 top:50vh !important;
  		 left:10vw !important;
  	 }

		 /* Green */
		 .green {
	 			margin-left:7vw;
	 		}
	 		h1.green {
	  	 	bottom:0;
	  	 	left:27vw;
	  	 }
	  	.content_green {
	  		top:60vh !important;
	  		right: 10!important;
	  	}
	 }

	 @media screen and (max-width: 320px) {
	 	.fill-button {
	 		width:60% !important;
	 	}
	 }

	 @media screen and (min-width: 1024px) {
		 h1.green {
 			bottom:0;
 			left:27vw;
 		 }
	 }

	 /*************************************************

	 							EXPERTISE STYLE

	 *************************************************/
.expertise {
	margin:0 !important;
}

.home {
	overflow:hidden;
}

.parent {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(4, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	z-index:9;
	overflow:visible;
}

.div1 {
	grid-area: 1 / 1 / 2 / 7;
	background:transparent !important;
	border:none !important;
}
.div2 { grid-area: 2 / 1 / 3 / 2; }
.div3 { grid-area: 3 / 1 / 4 / 2; }
.div4 { grid-area: 4 / 1 / 5 / 2; }
.div5 { grid-area: 3 / 2 / 5 / 3; }
.div6 { grid-area: 2 / 2 / 3 / 4; }
.div7 { grid-area: 2 / 4 / 3 / 5; }
.div8 { grid-area: 2 / 5 / 4 / 6; }
.div9 { grid-area: 2 / 6 / 3 / 7; }
.div10 { grid-area: 3 / 6 / 4 / 7; }
.div11 { grid-area: 4 / 5 / 5 / 7; }
.div12 { grid-area: 3 / 3 / 4 / 5; }
.div13 { grid-area: 4 / 3 / 5 / 4; }
.div14 { grid-area: 4 / 4 / 5 / 5; }

.parent div {
	background-color:hsla(240,4%,15%,0.7);
	background-blend-mode: ;
	border: 1px solid var(--white);
	padding:20px;
	margin:5px;
}

.parent div p {
 font-family: var(--font);
 text-transform: uppercase;
 position: relative;
    top: 20%;
    text-align: center;
}

@media all and (max-width: 800px) {
  .parent div {
    grid-column: 1 / 6;
  }
	.parent {
		display:block;
		width:99%;
		overflow:auto;
	}
}




	/*************************************************

								BUTTONS STYLE

	*************************************************/
	.fill-button {
		height:50px;
		margin-top:40px;
		margin-left:10px;
	  position: relative;
	  overflow:hidden;
	  display:inline-block;
	  width:48%;
	  border:1px solid var(--white);
		background-color:transparent;
	  text-align:center;
	  box-sizing:border-box;
	  color:var(--white);
	  text-decoration:none;
	  cursor: pointer;
	  font-family: var(--font);
		font-weight: var(--regular);
		font-size:1em;
		text-transform: uppercase;
		letter-spacing: 3px;
		z-index:999;
	}
	.fill-button > span {
	  display:block;
		height:50px;
	}
	.fill-button > .fill-button-hover:after, .fill-button > .fill-button-hover:before {
	  position:absolute;
	  top:0;
	  opacity:0;
	  display:block;
	  content:"";
	  width:0;
	  height:50px;
	}
	.fill-button > .fill-button-hover:after {
	  background-color:#292929;
	  transform:skewX(45deg);
	  transform-origin:center center;
	  transition:all .35s, opacity .4s;
	  left:50%;
	}
	.fill-button .fill-button-hover:before {
	  background-color:var(--mainPink);
	  transition:opacity 1s;
	}

	.fill-button .fill-button-text {
	  z-index:1;
	  position:relative;
	  color:var(--white);
	  transition:color .35s;
		top:10px;
	}
	.fill-button:hover .fill-button-text {
	  color:var(--white);
	}
	.fill-button .fill-button-hover:hover:after {
	  opacity:1;
	  left:2%;
	  width:95%;
	  transform:skewX(45deg);
	}
	.fill-button > .fill-button-hover:hover:before {
	  opacity: 1;
	  left: 0;
	  width:100%;
	}



	/*************************************************

								GRAIN EFFECT

	*************************************************/
	/* .home, .contact {
		width: 100%;
		overflow: hidden;
		position: relative;
		height: 100%;
	} */
	#test:focus {
		animation: grain 8s steps(10) infinite;
		background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/wild_oliva.png);
		position: fixed;
		opacity: 0.4;
		content: "";
	}

	.home:after, .contact:after{
	  animation: grain 8s steps(10) infinite;
	  background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/wild_oliva.png);
	  content: "";
	  height: 300%;
	  left: -50%;
	  opacity: 0.4;
	  position: fixed;
	  top: -110%;
	  width: 300%;
	}



	@keyframes grain {
	  0%, 100% { transform:translate(0, 0) }
	  10% { transform:translate(-5%, -10%) }
	  20% { transform:translate(-15%, 5%) }
	  30% { transform:translate(7%, -25%) }
	  40% { transform:translate(-5%, 25%) }
	  50% { transform:translate(-15%, 10%) }
	  60% { transform:translate(15%, 0%) }
	  70% { transform:translate(0%, 15%) }
	  80% { transform:translate(3%, 35%) }
	  90% { transform:translate(-10%, 10%) }
	}



	/*************************************************

								BLINKING CURSOR

	*************************************************/
	.blinking-cursor {
		display:none;
	}

	.active span:not(:hover), .cursor-project  {
		display:inline;
		margin-left:-3px;
	  font-weight: var(--regular);
	  color: #d3d9d9;
	  -webkit-animation: 1s blink step-end infinite;
	  -moz-animation: 1s blink step-end infinite;
	  -ms-animation: 1s blink step-end infinite;
	  -o-animation: 1s blink step-end infinite;
	  animation: 1s blink step-end infinite;
	}

	@keyframes "blink" {
	  from, to {
	    color: transparent;
	  }
	  50% {
	    color: #d3d9d9;
	  }
	}

	@-moz-keyframes blink {
	  from, to {
	    color: transparent;
	  }
	  50% {
	    color: #d3d9d9;
	  }
	}

	@-webkit-keyframes "blink" {
	  from, to {
	    color: transparent;
	  }
	  50% {
	    color: #d3d9d9;
	  }
	}

	@-ms-keyframes "blink" {
	  from, to {
	    color: transparent;
	  }
	  50% {
	    color: #d3d9d9;
	  }
	}

	@-o-keyframes "blink" {
	  from, to {
	    color: transparent;
	  }
	  50% {
	    color: #d3d9d9;
	  }
	}
